.presentation {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 7vh;
}

.photo_container {
  height: 60vh;
  width: fit-content;
  border-radius: 8rem;

  overflow: hidden;
}

.personal_photo {
  height: 100%;
  width: 282px;

  cursor: pointer;
  background-image: url("../../public/photos/foto_1.jpeg");
  background-size: cover;

  transition: background-image 0.5s ease;
}

.personal_photo:hover {
  background-image: url("../../public/photos/foto_2.jpeg");

  transition: background-image 0.5s ease;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: space-evenly;

  height: 30vh;
}

.aboutMe p {
  color: var(--lcolor-5);
}

#aboutMe {
  height: 100vh;
}

@media screen and (max-width: 500px) {

  .presentation {
    height: 60vh;
  }

  .aboutMe {
    height: 30vh;
  }

  #aboutMe {
    height: 100vh;
  }
}