.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: var(--color-2);
  opacity: 95%;
  padding-left: 2vw;
  padding-right: 2vw;
  height: 7vh;
  width: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, -0, -0, -0.15);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navBar_list {
  display: flex;
  gap: 0.5rem;
}

.lang_btn {
  border: none;
  display: block;
  width: fit-content;
  height: 5.5vh;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0.75vh;
  margin-bottom: 0.75vh;

  color: var(--lcolor-1);
  background-color: var(--color-2);
  cursor: pointer;

  transition: all 0.5s ease;
}

.lang_btn:hover {
  border-radius: 1.5rem;

  background-color: var(--color-1);
  color: var(--lcolor-5);

  transition: all 0.5s ease;
}

.navBar_btn {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-top: 0.75vh;
  margin-bottom: 0.75vh;
  height: 5.5vh;

  display: block;
  width: fit-content;
  text-align: center;
  line-height: 5.5vh;

  color: var(--lcolor-1);
  background-color: var(--color-2);
  transition: all 0.5s ease;
}

.navBar_btn:hover {
  background-color: var(--color-1);
  border-radius: 1.5rem;
  color: var(--lcolor-5);
  transition: all 0.5s ease;
}

.linked {
  background-color: var(--color-1);
  border-radius: 1.5rem;
  color: var(--lcolor-5);
  transition: all 0.5s ease;
}

/* MOBILE */

.navBar_mobile {
  height: 100vh;
  width: 50vw;

  display: none;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  background-color: var(--color-2);
  box-shadow: var(--color-1) 0 0 0.25rem 0.25rem;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.auxiliar-nav {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 50vw;
  /* background-color: black; */
  z-index: 1;
}

.show_nav {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.show_aux {
  display: flex;
}

.navBar_list_lang {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  padding-left: 1rem;
  padding-right: 1rem;
}

.navBar_list_mobile {
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.navBar_btn_mobile {
  display: none;

  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;

  width: 4rem;
  height: 4rem;

  background-color: transparent;
  border: none;
  border-bottom-left-radius: 50%;

  cursor: pointer;
}

@media screen and (max-width:768px) {
  .navBar_mobile {
    display: flex;
  }

  .navBar_btn_mobile {
    display: block;
  }

  .navBar {
    display: none;
  }
}