.portfolio_container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  gap: 0.5rem;
}

.project_card {
  height: 240px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.project_card:hover {
  height: 450px;
  background-color: var(--color-1);
  border-radius: 0.75rem;
  transition: all 0.5s ease;
}

.project_card p {
  font-size: 0.85rem;

  padding-left: 1rem;
  padding-right: 1rem;
  text-align: justify;

  color: var(--lcolor-8);
}

.project_details {
  display: flex;
}

.project_det_btn {
  background-color: inherit;
  color: var(--lcolor-8);

  position: relative;
  bottom: 3%;
  z-index: -1;

  height: 2rem;
  width: 7rem;
  align-self: center;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.project_det_btn:hover {
  background-color: var(--color-6);
  color: var(--lcolor-1);
  transition: all 0.5s ease;
  border-radius: 1rem;
}

.display_show {
  display: flex;
}

.project_img_container {
  
  height: fit-content;
  width: 100%;
  cursor: pointer;
  border: 5px solid transparent;
  border-radius: 0.75rem;
  /* overflow: hidden; */
  transition: all 0.5s ease;
}

.project_img_container:hover {
  border: 5px solid var(--color-9);
  transition: all 0.5s ease;
}

.project_image {
  display: block;
  height: 230px;
  width: 100%;
  border-radius: 0.5rem;
}

/* EXTENDED DETAILS WINDOW  */

.extended_details {
  height: 85vh;
  width: 100%;
  position: relative;
  justify-self: center;

  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-template-rows: repeat(2 , auto);

  background-color: var(--color-1);
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.5s ease;
}

.extended_images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.extended_image {
  max-width: 90%;
  max-height: 40vh;

  border-radius: 1rem;
}

.project_close_btn {
  height: 1.75rem;
  width: 1.75rem;

  background-color: var(--color-2);
  color: var(--color-5);

  border-bottom-left-radius: 50%;
  border: 0;

  position: absolute;
  top: 0;
  right: 0%;
}

.prev_btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 6%;

  height: 2.5rem;
  width: 2.5rem;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.prev_btn:hover {
  box-shadow: var(--color-8) 0 0 0.5rem 0.25rem;
  transition: all 0.5s ease;
}

.btn_image {
  height: 100%;
  width: 100%;
}

.next_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  
  position: absolute;
  right: 6%;

  height: 2.5rem;
  width: 2.5rem;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.next_btn:hover {
  box-shadow: var(--color-8) 0 0 0.5rem 0.25rem;
  transition: all 0.5s ease;
}

.links_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2rem;
}

.link_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  color: var(--lcolor-8);
}

.link_logo {
  width: 6rem;

  border-radius: 50%;
  
  cursor: pointer;
  transition: all 0.5s ease;
}

.link_logo:hover {
  box-shadow: var(--color-8) 0 0 0.5rem 0.25rem;
  transition: all 0.5s ease;
}

.description {
  display: flex;
  align-items: center;
  text-align: justify;

  width: 100%;

  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.description p {
  color: var(--lcolor-8);
}

.specifications {
  width: 100%;

  padding-right: 8%;
  padding-left: 8%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.spec_container {
  display: grid;
  grid-template-columns: repeat(2 , 50%);

  width: 100%;
  padding: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  background-color: var(--color-2);
  border-radius: 0.5rem;
}

.spec_container ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 0.75rem;
  justify-content: left;
}

.spec_container h4 {
  font-weight: 500;
}

.spec_container li {
  color: var(--lcolor-8);
}

.spec_container p {
  color: var(--lcolor-8);
}

.project_close_btn {
  cursor: pointer;
}

#portfolio {
  min-height: 100vh;
}

@media screen and (max-width:768px) {
  .portfolio_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .extended_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 90vw;
    height: 90vh;
  }

  .extended_images {
    height: fit-content;
  }

  .extended_image {
    max-width: 90vw;
    max-height: 25vh;
  }

  .specifications {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    padding: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 25%;

    overflow: hidden;
  }

  .spec_container {
    font-size: 0.75rem;
    border-radius: 0;
  }

  .links_container {
    padding-bottom: 1.5rem;
  }

  .link_info {
    font-size: 0.75rem;
  }

  .link_logo {
    width: 4rem;
  }
}